/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  scroll-behavior: smooth;
}
/* mon commentaire  */
header > nav,
main,
footer {
  /* border-style: solid;
  border-width: 2px;
  /* border-color: blue; */
  /* border-color: #4d4da5cc;
  border-color: #ffffff; */
  padding: 5px;
}

main {
  background-color: black;
}

/* appel par id */
div#container {
  display: grid;
  min-height: 100vh;
  /* grid-template-rows: 2fr 8fr; */
}

header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #406E8E;
}

footer {
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #406E8E;
}
/* appel par nom de balise */
header > nav {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

/* appel par classe */
header > nav > ul.liste {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

header > nav > ul > li > a.liens {
  font-size: 24px;
  text-decoration: none;
  font-family: 'Bebas Neue';
  color: white;
}

header > nav > i.fa-bars {
  display: none;
}

section {
  height: 600px;
  padding-top: 5vh;
  font-size: 16px;
  font-family: 'Prompt';
  color: white ;
}

#paragraphe {
  display: flex;
  flex-direction: column;
  margin: 50px;
  text-align: justify;
}

#paragraphe > p {
  margin-bottom: 10px;
}

#a-propos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7vh;
  margin-top: 10vh;
  text-align: justify;
}

#experience > h3 {
  margin: 4vh;
  align-items: center;
}

#experiences {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

img {
  height: 175px;
  display: block;
  margin-bottom: 15px;
}

#projet1,
#projet2,
#projet3 {
  display: flex;
  margin: 7vh;
  margin-top: 10vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#projet {
  display: flex;
}

#projets {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


#portfolio > h2,
#a-propos > h2,
#experiences > h2,
#projets > h2,
#contact > h2 {
  margin: 15vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-size: 32px;
  font-family: 'Bebas Neue';
  /* Bebas Neue */
  color: #406E8E ;
  margin-bottom: 5px;
}

/* media query */
@media screen and (max-width: 768px) {
  header > nav > ul.liste {
    display: none;
  }
  header > nav > i.fa-bars {
    display: block;
  }
  header > nav.open {
    position: fixed;
    width: 100%;
    flex-direction: column;
    background: #406E8E;
    top: 0;
    left: 0;
  }
  header > nav.open > ul.liste {
    justify-content: space-around;
    flex-direction: column;
    display: flex;
  }
  #a-propos,
  #experiences {
    display: 	flex;
    flex-direction: column;
  }
  #a-propos > h2,
  #experiences > h2 {
    margin: 5vh;
    text-align: center;
  }
  #a-propos > p,
  #experience {
    margin: 5vh;
  }
}

h1 {
  margin-top: 35vh;
  margin-bottom: 5vh;
  font-size: 64px;
  color: #406E8E;
  text-align: center;
  font-family: 'Bebas Neue';
}

h3 {
  font-size: 24px;
  font-family: 'Bebas Neue';
  color: white ;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
